{% extends 'home-base.html' %}
{% block banner %}{% endblock %}
{% block head-content %}
    <link rel="stylesheet" href="../../static/css/login.css">
    <script src="../../static/script/message_sender.js"></script>
{% endblock %}
{% block content %}
<section class="vh-100" style="background-color: #eeee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10" style="display: flex;">
                <div class="card col-md-6" style="border-radius: 1rem; justify-self: end; align-self: end;margin-left: auto;">
                    <div class="row g-0">
                        <div class="col-md-12 col-lg-12 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">

                                <form method="post" action="/login" onsubmit="return checkInputIsNotBlank();">

                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <span class="h1 fw-bold mb-0">登录</span>
                                    </div>

                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">请登录后再访问相关页面</h5>

                                    <div class="form-outline mb-4">
                                        <div class="input-box">
                                            <input type="text" id="form2Example17" class="form-control form-control-lg u-i-v" name="user" autocomplete="off"/>
                                            <hr>
                                        </div>

                                        <label class="form-label" for="form2Example17">用户名</label>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <div class="input-box">
                                            <input id="form2Example27" class="form-control form-control-lg u-i-v" name="pwd" autocomplete="haha"/>
                                            <hr>
                                        </div>

                                        <label class="form-label" for="form2Example27">口令</label>
                                    </div>
                                    <p class="mb-5 pb-lg-2" style="color: #f00;">{{ error }}</p>
                                    <input type="hidden" name="next_page" value="{{ next_page }}">
                                    <div class="pt-1 mb-4">
                                        <button class="btn btn-dark btn-lg btn-block" type="submit">登录</button>
                                        <button class="btn btn-dark btn-lg btn-block" type="button" onclick="clearInputBox();">取消</button>
                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block script %}
    <script src="../../static/script/login.js"></script>
    <script src="https://qzonestyle.gtimg.cn/qzone/qzactStatics/configSystem/data/179/config1.js"></script>
{% endblock %}